@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-family: 'Nunito', sans-serif;
  --background-color: #121212;
  --text-color: #FFFFFF;
  --header-color: #303030;
  --accent-color-one: #3498db;
  --accent-color-two: #E74C3C;
  --hover-color: #2C3E50;
  --footer-bg: #1E1E1E;
  --divider-color: #444444;
  --selection-color: #2ECC71;
  --secondary-text-color: #6d6c6c;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

::selection {
  background-color: var(--selection-color);
  color: var(--text-color);
}

input,
button {
  font-family: var(--font-family);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
  padding: 10px;
}